In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
path ='./data/'

books = pd.read_csv(path + 'books.csv')

In [3]:
def basic_preporcess_category(s:str):
    if isinstance(s, str):
        return s.lower().strip('[] !@#$%^&*()\"\';:.,/?\\|~`')
    elif isinstance(s, float):
        return np.nan
    else:
        raise Exception("WTF")

In [4]:
books.sample(1)

,isbn,book_title,book_author,year_of_publication,publisher,img_url,language,category,summary,img_path
40141,0060515848,Let's All Kill Constance : A Novel,Ray Bradbury,2002.0,William Morrow,http://images.amazon.com/images/P/0060515848.0...,NaN,NaN,NaN,images/0060515848.01.THUMBZZZ.jpg

In [5]:
publisher_dict=(books['publisher'].value_counts()).to_dict()
publisher_count_df= pd.DataFrame(list(publisher_dict.items()),columns = ['publisher','count'])

publisher_count_df = publisher_count_df.sort_values(by=['count'], ascending = False)

In [6]:
publisher_count_df.head()

          publisher  count
0         Harlequin   3005
1  Ballantine Books   2322
2            Pocket   2274
3     Penguin Books   1943
4      Bantam Books   1938

In [7]:
books['publisher'].nunique() # 수정전 항목 수를 확인합니다.

11571

In [8]:
books[books['isbn'].apply(lambda x: x[:4])=='0140']['publisher'].unique()

array(['Penguin Books', 'Penguin Books Ltd', 'Puffin Books',
       'Penguin USA (Paper)', 'Penguin USA', 'Puffin',
       'Penguin Putnam~trade', 'Penguin Putnam~mass',
       'Penguin/Puffin Mass Market (Mm)', 'Viking Books',
       'Penguin Books Australia Ltd', 'Penguin Uk',
       'Scott Foresman (Pearson K-12)',
       'Penguin Putnam Books for Young Readers',
       'French & European Pubns', 'Viking Penguin', 'Arkana',
       'Penguin Highbridge Audio', 'Penguin (Non-Classics)',
       'Penguin Books, Limited (UK)', 'Viking Press', 'Penguin U S A',
       'Penguin/Puffin Mass Market', 'Select Penguin (Mm)',
       'Penguin Putnam', 'Penguin Books India', 'Select Penguin',
       'Penguin Books Australia Ltd.', 'Viking Penguin Inc',
       'Penguin Audiobooks', 'Studio Books', 'Penguin',
       'Hyperion Books for Children', 'Putnam Pub Group', 'Penguin India',
       'Compass Books', 'Penguin Putnam~childrens Hc',
       'Penguin in association with Secker and Warburg', 'Time Out',
       'Perennial', 'Viking Juvenile', 'Virago Press', 'South Asia Books',
       'RoC', 'Penguin Books Canada Ltd', 'Penguin Books (NZ) Ltd',
       'Ballantine Books', 'Outlet', 'Penguin USA (J)', 'Books Britain',
       'Speak', 'Penguin USA (P)', 'Penguin Books / Granta',
       'Granta Books', 'Trafalgar Square Publishing', 'Vintage Books',
       'Penguin Highbridge', 'Intl Center for Creative Thinking',
       'Penguin Group USA', 'Time Out Publishing', 'Penguin Books (NZ)',
       'Pelican Publishing Company', 'Pearson Schools', 'Dutton Books',
       'Viking Studio', 'Penguin Books Canada',
       'Granta Books in association with Penguin Books', 'Terra Nova Pr'],
      dtype=object)

In [9]:
modify_list = publisher_count_df[publisher_count_df['count']>1].publisher.values

In [10]:
for publisher in modify_list:
    try:
        number = books[books['publisher']==publisher]['isbn'].apply(lambda x: x[:4]).value_counts().index[0]
        right_publisher = books[books['isbn'].apply(lambda x: x[:4])==number]['publisher'].value_counts().index[0]
        books.loc[books[books['isbn'].apply(lambda x: x[:4])==number].index,'publisher'] = right_publisher
    except: 
        pass

In [14]:
books['publisher'].nunique() #수정 후 출판사 갯수입니다

1523

In [12]:
# book title, publisher 를 공통으로 갖는 book author 생성
set_booktitle_publisher = set()
for b_t, pub in zip(books['book_title'].values, books['publisher'].values):
    set_booktitle_publisher.add((b_t, pub))

In [13]:
len(set_booktitle_publisher)

144256