In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
path='./data/'

users = pd.read_csv(path+'users.csv')
books = pd.read_csv(path+'books.csv')
ratings = pd.read_csv(path+'train_ratings.csv')
test_ratings = pd.read_csv(path+'test_ratings.csv')

print('users shape: ', users.shape)
print('books shape: ', books.shape)
print('ratings shape: ', ratings.shape)

users shape:  (68092, 3)
books shape:  (149570, 10)
ratings shape:  (306795, 3)

In [14]:
df = users['location'].value_counts()

In [17]:
users['location_city'] = users['location'].apply(lambda x: x.split(',')[0].strip())
users['location_state'] = users['location'].apply(lambda x: x.split(',')[1].strip())
users['location_country'] = users['location'].apply(lambda x: x.split(',')[2].strip())

In [19]:
users = users.replace('na', np.nan)
users = users.replace('', np.nan)
users = users.replace('unknown', np.nan)

In [21]:
# location_state, location_country 결측 대치
modify_location = users[(users['location_country'].isna())&(users['location_city'].notnull())]['location_city'].values
location_list = []
for location in modify_location:
    try:
        right_location = users[(users['location'].str.contains(location))&(users['location_country'].notnull())]['location'].value_counts().index[0]
        location_list.append(right_location)
    except:
        pass

/tmp/ipykernel_91047/2407747211.py:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  right_location = users[(users['location'].str.contains(location))&(users['location_country'].notnull())]['location'].value_counts().index[0]
/tmp/ipykernel_91047/2407747211.py:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  right_location = users[(users['location'].str.contains(location))&(users['location_country'].notnull())]['location'].value_counts().index[0]

In [23]:
print(len(location_list))

1958

In [52]:
df = users['location'].apply(lambda x: x.split(',')).apply(lambda x: len(x))
idx_len_up_to_4 = df[df >= 4].index

In [53]:
users.iloc[idx_len_up_to_4]

,user_id,location,age,location_city,location_state,location_country
435,259223,"twin falls, idaho, idaho, usa",82.0,twin falls,idaho,idaho
762,14387,"coalville, leicestershire, england, united kin...",35.0,coalville,leicestershire,england
940,38464,"tharston, norwich, england, united kingdom",33.0,tharston,norwich,england
1026,51856,"wichita,, kansas, usa",59.0,wichita,NaN,kansas
1044,53688,"paris, france, ile de france, france",28.0,paris,france,ile de france
...,...,...,...,...,...,...
66770,202347,"seba beach, ab., alberta, canada",NaN,seba beach,ab.,alberta
67090,217416,"crivitz,, wisconsin, usa",NaN,crivitz,NaN,wisconsin
67314,229756,"prineville,, oregon, usa",66.0,prineville,NaN,oregon
67584,278215,"nelson, motueka, nz, new zealand",28.0,nelson,motueka,nz
67586,245812,"canberra, act, australian capital territory, a...",NaN,canberra,act,australian capital territory

In [32]:
idx = users[users['location'].to_numpy().split(',') >= 4].index

AttributeError: 'numpy.ndarray' object has no attribute 'split'

In [ ]:
wrong_data = []
for i, d in enumerate(df):
    if len(d.split(',')) >=4:
        wrong_data

In [1]:
import os

def get_files_count(folder_path):
	dirListing = os.listdir(folder_path)
	return len(dirListing)
	
if __name__ == "__main__":
	print(get_files_count("./data/images/"))

149570