In [127]:
import pandas as pd
import numpy as np

In [128]:
DATA_PATH = './data/'

users = pd.read_csv(DATA_PATH + 'users_preprocessed.csv')
books = pd.read_csv(DATA_PATH + 'books_merged.csv')
train = pd.read_csv(DATA_PATH + 'train_ratings.csv')
test = pd.read_csv(DATA_PATH + 'test_ratings.csv')
sub = pd.read_csv(DATA_PATH + 'sample_submission.csv')

In [129]:
features_name = ['isbn']

context_df = train.merge(users, on='user_id', how='left').merge(books[features_name], on='isbn', how='left')
train_df = test.merge(users, on='user_id', how='left').merge(books[features_name], on='isbn', how='left')
test_df =sub.merge(users, on='user_id', how='left').merge(books[features_name], on='isbn', how='left')

In [108]:
context_df

,user_id,isbn,rating,age,location_city,location_state,location_country
0,8,0002005018,4,18.0,ontario_others,ontario,canada
1,67544,0002005018,7,30.0,toronto,ontario,canada
2,123629,0002005018,8,30.2,kingston,ontario,canada
3,200273,0002005018,8,18.0,ontario_others,ontario,canada
4,210926,0002005018,9,26.5,guelph,ontario,canada
...,...,...,...,...,...,...,...
306790,278843,0743525493,7,28.0,california_others,california,usa
306791,278851,067161746X,6,33.0,dallas,texas,usa
306792,278851,0884159221,7,33.0,dallas,texas,usa
306793,278851,0912333022,7,33.0,dallas,texas,usa
306794,278851,1569661057,10,33.0,dallas,texas,usa

In [109]:
train['isbn'].nunique()

129777

In [110]:
# 책 이름을 기준으로 평균 평점을 merge
mean_ratings = train.groupby('isbn')['rating'].mean().to_frame()
count_ratings = train.groupby('isbn')['rating'].count().to_frame()

In [111]:
print(len(mean_ratings))
print(len(count_ratings))

129777
129777

In [112]:
isbn_mean_count = mean_ratings.merge(count_ratings, on='isbn', how='left')

In [113]:
isbn_mean_count.columns = ['mean_rating', 'count_rating']

In [114]:
isbn_mean_count

            mean_rating  count_rating
isbn
0000913154          8.0             1
000104687X          6.0             1
0001047213          8.0             1
0001047973          9.0             2
000104799X          6.0             1
...                 ...           ...
B0001FZGBC          7.0             1
B0001FZGPI          6.0             1
B0001FZGRQ          9.0             1
B0001GMSV2          8.0             2
B000234N3A          9.0             1

[129777 rows x 2 columns]

In [130]:
# 평균 평점이 3점 이하이고, 3개 이상의 count인 책들 집계
bad_books = isbn_mean_count[(isbn_mean_count['mean_rating'] <= 3.0) & (isbn_mean_count['count_rating'] >= 3.0)]

In [116]:
bad_books.sample(1)

            mean_rating  count_rating
isbn
0340632755          3.0             3

In [117]:
len(bad_books)

142

In [14]:
# bad books로 집계된 책들이 train에 얼마나 있을까?

In [131]:
# 평균 평점이 8점 이상이고, 3개 이상의 count인 책들 집계
good_books = isbn_mean_count[(isbn_mean_count['mean_rating'] >= 8.0) & (isbn_mean_count['count_rating'] >= 3.0)]

In [119]:
len(good_books)

6338

In [120]:
good_books.sample(1)

            mean_rating  count_rating
isbn
0618249060          9.5             4

In [132]:
# 평균 평점이 n점 이하이고, 3개 이상의 count인 책들 집계
bad_books_dict = dict()
for n in range(1,5):
    bad_books_dict[n] = isbn_mean_count[(isbn_mean_count['mean_rating'] <= n) & (isbn_mean_count['count_rating'] >= 3.0)]
    print(f"평균 평점이 {n}점 이하이고, 3개 이상의 count인 책들 집계")
    print(len(bad_books_dict[n]))
    print((bad_books_dict[n]['count_rating']).sum())
    if n == 1:
        print(f"구간별 count: {(bad_books_dict[n]['count_rating']).sum()}")
        tmp = (bad_books_dict[n]['count_rating']).sum()
    else:
        print(f"구간별 count: {(bad_books_dict[n]['count_rating']).sum() - tmp}")
        tmp = (bad_books_dict[n]['count_rating']).sum()

평균 평점이 1점 이하이고, 3개 이상의 count인 책들 집계
4
12
구간별 count: 12
평균 평점이 2점 이하이고, 3개 이상의 count인 책들 집계
29
98
구간별 count: 86
평균 평점이 3점 이하이고, 3개 이상의 count인 책들 집계
142
464
구간별 count: 366
평균 평점이 4점 이하이고, 3개 이상의 count인 책들 집계
568
2516
구간별 count: 2052

In [133]:
# 평균 평점이 n점 이상이고, 3개 이상의 count인 책들 집계
good_books_dict = dict()
for n in range(10, 5, -1):
    good_books_dict[n] = isbn_mean_count[(isbn_mean_count['mean_rating'] >= n) & (isbn_mean_count['count_rating'] >= 3.0)]
    print(f"평균 평점이 {n}점 이상이고, 3개 이상의 count인 책들 집계")
    print(len(good_books_dict[n]))
    print((good_books_dict[n]['count_rating']).sum())
    if n == 10:
        print(f"구간별 count: {(good_books_dict[n]['count_rating']).sum()}")
        tmp = (good_books_dict[n]['count_rating']).sum()
    else:
        print(f"구간별 count: {(good_books_dict[n]['count_rating']).sum() - tmp}")
        tmp = (good_books_dict[n]['count_rating']).sum()

평균 평점이 10점 이상이고, 3개 이상의 count인 책들 집계
54
169
구간별 count: 169
평균 평점이 9점 이상이고, 3개 이상의 count인 책들 집계
1381
5884
구간별 count: 5715
평균 평점이 8점 이상이고, 3개 이상의 count인 책들 집계
6338
39908
구간별 count: 34024
평균 평점이 7점 이상이고, 3개 이상의 count인 책들 집계
13511
115508
구간별 count: 75600
평균 평점이 6점 이상이고, 3개 이상의 count인 책들 집계
18696
161268
구간별 count: 45760

In [26]:
train_user_ids = train['user_id'].unique()
test_user_ids = test['user_id'].unique()
tmp = set(train_user_ids)
print(train['user_id'].nunique())
print(test['user_id'].nunique())

59803
26167

In [27]:
cnt = 0
for test_id in test_user_ids:
    if test_id in tmp:
        cnt += 1

In [28]:
cnt

17901

In [29]:
17901/26167

0.6841059349562426

In [123]:
ensemble = pd.read_csv('./submit/ensemble_2.1643-DCN_msk-DCN_msk2-sw-0.7-0.15-0.15.csv')

In [124]:
(bad_books_dict[1])

            mean_rating  count_rating
isbn
0373262957          1.0             3
0515090492          1.0             3
0670884839          1.0             3
3596136199          1.0             3

In [38]:
good_books_dict[10].index

Index(['0060099089', '0060245875', '0060973757', '0062517317', '006440546X',
       '0064405478', '0307131084', '0310925681', '0345332075', '037570440X',
       '0385480334', '0394832922', '039483609X', '0395082560', '0395873460',
       '0439042445', '0440415993', '0440512158', '0441005055', '0451133196',
       '0451527348', '0486270661', '0517124858', '0553568817', '0670825212',
       '0671041657', '0671600613', '0671698419', '0679726470', '0689823517',
       '0689851863', '0723236186', '0771099843', '0786807091', '0786867086',
       '0809232669', '0810919397', '0811803201', '0811826848', '0842377506',
       '0875421261', '087701759X', '0877792208', '0882435205', '0891343377',
       '0911662251', '0962713708', '0966067630', '1400061598', '1563054671',
       '1567184464', '1568650108', '1856975770', '1893956288'],
      dtype='object', name='isbn')

In [125]:
# ensemble[ensemble['isbn'] == good_books_dict[10].index]
for isbn in good_books_dict[9].index:
    try:
        print(train.loc[train['isbn'] == isbn]['rating'])
        # print(ensemble.loc[ensemble['isbn'] == isbn]['rating'])
        # print(good_books_dict[10].loc[isbn]['mean_rating'])
    except:
        continue

254874    10
254875     7
254876    10
254877     9
Name: rating, dtype: int64
238867    10
238868     9
238869    10
238870     8
Name: rating, dtype: int64
195560     8
195561     9
195562    10
195563     8
195564    10
Name: rating, dtype: int64
103612     9
103613    10
103614     9
103615     9
103616    10
103617     9
Name: rating, dtype: int64
153732     9
153733     7
153734    10
153735    10
Name: rating, dtype: int64
113399    10
113400     9
113401    10
113402     8
113403    10
Name: rating, dtype: int64
55336     9
55337    10
55338    10
Name: rating, dtype: int64
150958     9
150959     8
150960    10
Name: rating, dtype: int64
215560     9
215561    10
215562    10
215563    10
Name: rating, dtype: int64
232166    10
232167    10
232168     9
232169    10
232170    10
Name: rating, dtype: int64
225150    10
225151     7
225152    10
Name: rating, dtype: int64
229174    10
229175     9
229176     9
Name: rating, dtype: int64
255313    10
255314    10
255315     7
Name: rating, dtype: int64
156795     8
156796    10
156797     8
156798    10
Name: rating, dtype: int64
231907     8
231908    10
231909     9
Name: rating, dtype: int64
62090     8
62091    10
62092    10
62093     8
Name: rating, dtype: int64
222917    10
222918    10
222919    10
Name: rating, dtype: int64
149049     8
149050    10
149051     9
Name: rating, dtype: int64
87893     9
87894    10
87895     8
Name: rating, dtype: int64
192820     9
192821    10
192822     7
192823    10
Name: rating, dtype: int64
249964    10
249965     8
249966    10
Name: rating, dtype: int64
232722    10
232723     9
232724     8
Name: rating, dtype: int64
120266     8
120267     9
120268    10
120269    10
Name: rating, dtype: int64
128584    10
128585     8
128586     8
128587    10
128588     9
Name: rating, dtype: int64
95596     8
95597    10
95598     9
95599    10
95600    10
Name: rating, dtype: int64
255336    9
255337    9
255338    9
Name: rating, dtype: int64
275540    10
275541    10
275542    10
Name: rating, dtype: int64
178709     9
178710     8
178711    10
178712    10
178713    10
178714    10
178715     9
Name: rating, dtype: int64
191750    10
191751     9
191752     9
Name: rating, dtype: int64
152087    10
152088     8
152089    10
152090    10
152091     8
152092    10
152093    10
152094    10
152095     9
152096    10
152097    10
152098    10
152099    10
152100    10
152101    10
152102     9
Name: rating, dtype: int64
26340    10
26341     8
26342    10
26343     8
26344     9
26345     9
26346     9
26347    10
26348    10
26349    10
26350    10
26351    10
26352    10
26353    10
26354     7
26355    10
26356     8
26357     8
26358    10
26359    10
Name: rating, dtype: int64
191332    10
191333    10
191334     8
191335     8
191336    10
191337    10
191338    10
191339     9
191340    10
191341    10
Name: rating, dtype: int64
197729    10
197730     9
197731    10
197732     8
Name: rating, dtype: int64
171305     8
171306     9
171307    10
Name: rating, dtype: int64
101000     9
101001    10
101002     8
101003     9
Name: rating, dtype: int64
83960     9
83961    10
83962    10
83963     8
83964     8
Name: rating, dtype: int64
213762    10
213763     9
213764    10
Name: rating, dtype: int64
197734    10
197735     9
197736    10
Name: rating, dtype: int64
122028    10
122029    10
122030    10
122031     8
Name: rating, dtype: int64
216251    10
216252    10
216253     7
Name: rating, dtype: int64
149237     8
149238     8
149239    10
149240    10
149241     9
149242     9
Name: rating, dtype: int64
174776     7
174777    10
174778    10
Name: rating, dtype: int64
174362    10
174363    10
174364     7
Name: rating, dtype: int64
93101     8
93102    10
93103     9
Name: rating, dtype: int64
196119     9
196120    10
196121     9
Name: rating, dtype: int64
197546     8
197547     9
197548    10
Name: rating, dtype: int64
177879     9
177880     8
177881    10
Name: rating, dtype: int64
128846    10
128847    10
128848     7
128849    10
Name: rating, dtype: int64
220016     7
220017    10
220018    10
Name: rating, dtype: int64
225444    10
225445    10
225446     8
Name: rating, dtype: int64
3854     8
3855    10
3856    10
3857     9
3858     8
3859    10
Name: rating, dtype: int64
128853    10
128854    10
128855     9
Name: rating, dtype: int64
197032     9
197033     9
197034    10
Name: rating, dtype: int64
43582     8
43583     9
43584    10
Name: rating, dtype: int64
1674    10
1675    10
1676     9
Name: rating, dtype: int64
191346    10
191347    10
191348     8
191349     8
Name: rating, dtype: int64
176300     9
176301    10
176302     7
176303    10
Name: rating, dtype: int64
174784    10
174785     9
174786     7
174787    10
Name: rating, dtype: int64
174237     9
174238     8
174239    10
Name: rating, dtype: int64
246858    10
246859    10
246860    10
246861     8
Name: rating, dtype: int64
192282     8
192283    10
192284     9
Name: rating, dtype: int64
223604     8
223605     9
223606    10
223607    10
Name: rating, dtype: int64
162329    10
162330     9
162331     7
162332    10
Name: rating, dtype: int64
218397    10
218398    10
218399     9
218400     8
218401     8
Name: rating, dtype: int64
45612    10
45613     8
45614     9
45615    10
Name: rating, dtype: int64
123370    10
123371    10
123372     9
123373     5
123374    10
123375    10
Name: rating, dtype: int64
87937    10
87938    10
87939     9
87940    10
Name: rating, dtype: int64
168205    10
168206     9
168207     8
Name: rating, dtype: int64
198533     7
198534    10
198535    10
Name: rating, dtype: int64
57109     8
57110    10
57111     8
57112    10
57113    10
Name: rating, dtype: int64
293767    10
293768    10
293769    10
Name: rating, dtype: int64
87964    10
87965    10
87966     9
87967     8
Name: rating, dtype: int64
219500    10
219501     8
219502    10
219503    10
Name: rating, dtype: int64
124337     9
124338     8
124339    10
124340     9
124341     9
Name: rating, dtype: int64
197742    10
197743     8
197744    10
Name: rating, dtype: int64
150999    10
151000     8
151001     9
Name: rating, dtype: int64
162154    10
162155     8
162156    10
162157     9
Name: rating, dtype: int64
179729    10
179730     9
179731     8
Name: rating, dtype: int64
164808     9
164809     9
164810    10
Name: rating, dtype: int64
161504    10
161505     8
161506    10
Name: rating, dtype: int64
107630    10
107631     7
107632    10
Name: rating, dtype: int64
194626     8
194627     9
194628    10
Name: rating, dtype: int64
45404     9
45405    10
45406     9
45407    10
45408    10
Name: rating, dtype: int64
150337     9
150338    10
150339     8
Name: rating, dtype: int64
129504    10
129505     8
129506     9
Name: rating, dtype: int64
206060    10
206061     8
206062     9
Name: rating, dtype: int64
194632     8
194633    10
194634     9
Name: rating, dtype: int64
265793    10
265794     8
265795    10
Name: rating, dtype: int64
62242    10
62243    10
62244    10
Name: rating, dtype: int64
260029     9
260030     8
260031    10
Name: rating, dtype: int64
149057    10
149058     8
149059    10
Name: rating, dtype: int64
194037    10
194038     8
194039     9
Name: rating, dtype: int64
241840    10
241841    10
241842     7
241843     8
241844    10
Name: rating, dtype: int64
178728    10
178729     7
178730    10
Name: rating, dtype: int64
58428     9
58429    10
58430     9
58431     8
Name: rating, dtype: int64
103052    10
103053    10
103054     8
103055    10
103056    10
Name: rating, dtype: int64
149619    10
149620     8
149621    10
149622    10
149623     8
149624    10
149625     8
149626     9
Name: rating, dtype: int64
149627     9
149628     9
149629    10
149630     8
Name: rating, dtype: int64
129580     9
129581    10
129582     9
129583    10
129584    10
Name: rating, dtype: int64
194636    10
194637    10
194638     9
194639    10
Name: rating, dtype: int64
125744     8
125745     9
125746    10
125747     9
125748     6
125749    10
125750     8
125751     9
125752    10
125753    10
125754    10
Name: rating, dtype: int64
110429     7
110430     9
110431    10
110432    10
110433    10
110434    10
110435     6
110436     9
110437    10
110438     8
110439     9
110440     8
110441    10
110442    10
110443    10
110444    10
Name: rating, dtype: int64
225658    10
225659    10
225660     9
Name: rating, dtype: int64
152578    10
152579     9
152580    10
Name: rating, dtype: int64
152588     9
152589    10
152590     8
152591    10
152592    10
152593     8
Name: rating, dtype: int64
194646    10
194647    10
194648    10
Name: rating, dtype: int64
194649    10
194650    10
194651    10
Name: rating, dtype: int64
129592    10
129593     8
129594     9
129595    10
Name: rating, dtype: int64
149640    10
149641     9
149642     9
149643     9
Name: rating, dtype: int64
194653    10
194654     9
194655     9
Name: rating, dtype: int64
149644    10
149645    10
149646     9
149647    10
149648     9
149649    10
149650    10
149651     9
149652     9
149653     8
149654    10
149655    10
149656     7
Name: rating, dtype: int64
233928    10
233929     9
233930     8
Name: rating, dtype: int64
149657     9
149658     9
149659    10
149660    10
Name: rating, dtype: int64
103764     8
103765    10
103766     6
103767    10
103768     9
103769    10
103770     9
103771    10
Name: rating, dtype: int64
164843    10
164844    10
164845    10
164846     8
164847     9
164848    10
Name: rating, dtype: int64
197052    10
197053     7
197054    10
Name: rating, dtype: int64
246392     9
246393     9
246394    10
Name: rating, dtype: int64
212509    10
212510     9
212511     8
Name: rating, dtype: int64
169908     7
169909    10
169910     8
169911    10
169912    10
169913    10
Name: rating, dtype: int64
129693     9
129694     8
129695    10
Name: rating, dtype: int64
164869     8
164870     9
164871    10
Name: rating, dtype: int64
129696     9
129697    10
129698    10
129699     8
129700     8
129701    10
129702     9
Name: rating, dtype: int64
129737    10
129738    10
129739     7
Name: rating, dtype: int64
180209     8
180210    10
180211    10
180212     9
180213    10
Name: rating, dtype: int64
217441     9
217442    10
217443     8
Name: rating, dtype: int64
217485     8
217486    10
217487     9
Name: rating, dtype: int64
168482    10
168483     9
168484     9
168485    10
168486     7
Name: rating, dtype: int64
79327    10
79328     9
79329     8
Name: rating, dtype: int64
129815     9
129816    10
129817     9
Name: rating, dtype: int64
188569     8
188570     9
188571    10
Name: rating, dtype: int64
53078     6
53079     9
53080    10
53081    10
53082     9
53083     9
53084    10
53085     9
Name: rating, dtype: int64
250373     8
250374    10
250375    10
Name: rating, dtype: int64
173432    10
173433     9
173434    10
Name: rating, dtype: int64
194553     9
194554     8
194555     9
194556     9
194557     9
194558     9
194559    10
Name: rating, dtype: int64
157078     8
157079     9
157080    10
Name: rating, dtype: int64
249649    10
249650     8
249651    10
Name: rating, dtype: int64
95715    9
95716    9
95717    9
95718    9
Name: rating, dtype: int64
95732    10
95733    10
95734     9
95735     9
95736     9
95737    10
95738     9
95739    10
95740    10
95741    10
95742    10
95743    10
95744     8
95745     8
95746     9
95747     9
95748     9
95749     8
95750     8
95751    10
95752    10
95753     6
Name: rating, dtype: int64
241332    10
241333     9
241334     9
241335     8
Name: rating, dtype: int64
62370     9
62371    10
62372     8
Name: rating, dtype: int64
247709     7
247710    10
247711    10
Name: rating, dtype: int64
236240    10
236241     9
236242    10
236243     9
Name: rating, dtype: int64
43602    9
43603    9
43604    9
Name: rating, dtype: int64
118643    10
118644    10
118645     8
118646     9
118647    10
118648     9
Name: rating, dtype: int64
60413     9
60414    10
60415     8
Name: rating, dtype: int64
194340     8
194341     9
194342     9
194343    10
Name: rating, dtype: int64
32036     7
32037    10
32038     8
32039    10
32040    10
Name: rating, dtype: int64
200833    10
200834    10
200835    10
200836     8
Name: rating, dtype: int64
113335     9
113336    10
113337     8
113338    10
113339    10
Name: rating, dtype: int64
110446     8
110447    10
110448     9
110449     9
Name: rating, dtype: int64
169604     8
169605    10
169606     9
169607    10
Name: rating, dtype: int64
62422    10
62423     9
62424     9
Name: rating, dtype: int64
161308    10
161309     9
161310    10
161311    10
161312     7
Name: rating, dtype: int64
229921     9
229922     8
229923    10
Name: rating, dtype: int64
205570     9
205571    10
205572    10
Name: rating, dtype: int64
164886     8
164887    10
164888    10
164889     9
164890     9
Name: rating, dtype: int64
248238     9
248239     9
248240     9
248241    10
Name: rating, dtype: int64
130114    10
130115     7
130116     9
130117    10
Name: rating, dtype: int64
285325    10
285326    10
285327     9
Name: rating, dtype: int64
163308     9
163309    10
163310     8
Name: rating, dtype: int64
205456    10
205457     9
205458     9
Name: rating, dtype: int64
225676    10
225677     9
225678     9
225679    10
Name: rating, dtype: int64
88184     9
88185     9
88186     8
88187    10
Name: rating, dtype: int64
31532    10
31533     8
31534    10
Name: rating, dtype: int64
190038     8
190039    10
190040     8
190041    10
Name: rating, dtype: int64
245223     8
245224    10
245225     9
245226     9
Name: rating, dtype: int64
173169    10
173170    10
173171     8
Name: rating, dtype: int64
238900     9
238901    10
238902     8
Name: rating, dtype: int64
187263     9
187264    10
187265     8
Name: rating, dtype: int64
217110     9
217111     9
217112     9
217113    10
Name: rating, dtype: int64
55431    10
55432     9
55433     8
55434    10
55435    10
55436    10
55437    10
55438    10
55439     9
Name: rating, dtype: int64
230259    9
230260    9
230261    9
Name: rating, dtype: int64
239577     9
239578     9
239579    10
239580    10
239581     7
Name: rating, dtype: int64
203425     9
203426    10
203427     8
Name: rating, dtype: int64
109485    10
109486     9
109487    10
Name: rating, dtype: int64
209317    10
209318     9
209319    10
Name: rating, dtype: int64
62465    9
62466    9
62467    9
Name: rating, dtype: int64
207619     9
207620    10
207621    10
207622    10
207623    10
Name: rating, dtype: int64
174817    10
174818    10
174819     9
Name: rating, dtype: int64
93247    10
93248     9
93249    10
93250     9
93251     6
93252    10
93253     8
93254     9
93255    10
Name: rating, dtype: int64
130356    10
130357     9
130358    10
130359     9
130360     7
130361     8
130362     8
130363    10
130364    10
Name: rating, dtype: int64
233892     9
233893    10
233894    10
233895     9
Name: rating, dtype: int64
69345     9
69346     9
69347    10
69348     7
69349    10
Name: rating, dtype: int64
124347    10
124348    10
124349     9
124350     7
124351     9
124352     9
Name: rating, dtype: int64
87151     9
87152     9
87153     9
87154     8
87155    10
87156    10
Name: rating, dtype: int64
87172    10
87173     9
87174    10
87175     8
87176     9
87177     8
87178     9
87179     9
87180    10
87181     8
Name: rating, dtype: int64
86964    10
86965    10
86966    10
86967    10
86968    10
86969     9
86970     8
86971     4
86972    10
86973     8
86974     9
86975     9
86976    10
86977     9
86978    10
86979     9
86980    10
86981    10
86982    10
Name: rating, dtype: int64
170592     8
170593     9
170594     9
170595    10
170596     9
Name: rating, dtype: int64
1677    10
1678    10
1679     9
Name: rating, dtype: int64
164935     8
164936    10
164937     9
Name: rating, dtype: int64
175816     8
175817    10
175818    10
Name: rating, dtype: int64
201287    10
201288    10
201289    10
201290     8
201291     9
Name: rating, dtype: int64
216731    10
216732     8
216733    10
216734    10
216735     7
Name: rating, dtype: int64
213777    10
213778    10
213779     7
213780    10
213781    10
213782     8
213783     9
213784     9
213785    10
Name: rating, dtype: int64
281464    10
281465    10
281466     7
Name: rating, dtype: int64
180369    10
180370     9
180371     8
Name: rating, dtype: int64
216856     8
216857    10
216858    10
Name: rating, dtype: int64
113476    10
113477     9
113478     8
113479     9
Name: rating, dtype: int64
113481    10
113482     6
113483    10
113484    10
113485    10
113486    10
Name: rating, dtype: int64
235293     8
235294    10
235295     9
Name: rating, dtype: int64
73058    10
73059     8
73060     9
73061    10
Name: rating, dtype: int64
43613     8
43614    10
43615     9
43616    10
43617    10
43618    10
43619     7
43620     8
43621     9
43622     9
43623    10
Name: rating, dtype: int64
210208     8
210209     8
210210     8
210211    10
210212    10
210213    10
Name: rating, dtype: int64
160410    10
160411     8
160412    10
Name: rating, dtype: int64
130532    10
130533    10
130534    10
130535     7
130536    10
130537     7
Name: rating, dtype: int64
130538    10
130539    10
130540     8
130541     8
130542    10
Name: rating, dtype: int64
88271    10
88272     9
88273    10
88274     8
Name: rating, dtype: int64
149757    10
149758     9
149759     8
Name: rating, dtype: int64
203464    10
203465     9
203466     8
Name: rating, dtype: int64
177989    10
177990    10
177991    10
Name: rating, dtype: int64
232440    10
232441    10
232442     8
232443    10
Name: rating, dtype: int64
225684     9
225685    10
225686    10
Name: rating, dtype: int64
156408    10
156409     8
156410    10
156411    10
Name: rating, dtype: int64
171877    10
171878     8
171879    10
Name: rating, dtype: int64
247064    10
247065     8
247066    10
Name: rating, dtype: int64
118773     8
118774     9
118775     9
118776    10
Name: rating, dtype: int64
229421    10
229422    10
229423     9
Name: rating, dtype: int64
220713    10
220714    10
220715    10
Name: rating, dtype: int64
207033    9
207034    9
207035    9
Name: rating, dtype: int64
49987    10
49988     8
49989    10
Name: rating, dtype: int64
227053     9
227054    10
227055     8
Name: rating, dtype: int64
80022     9
80023     9
80024    10
80025    10
80026    10
80027     8
80028    10
80029    10
80030     7
Name: rating, dtype: int64
208984    10
208985     8
208986    10
208987     8
Name: rating, dtype: int64
259032    10
259033     9
259034    10
259035     9
Name: rating, dtype: int64
235212    10
235213     7
235214    10
235215    10
235216    10
Name: rating, dtype: int64
4325     9
4326     7
4327     8
4328     9
4329    10
4330    10
4331     9
4332    10
4333     9
Name: rating, dtype: int64
55486    9
55487    9
55488    9
Name: rating, dtype: int64
223269     9
223270    10
223271    10
223272     8
223273     9
Name: rating, dtype: int64
165017     9
165018     8
165019    10
Name: rating, dtype: int64
216860     7
216861    10
216862    10
216863    10
216864     9
Name: rating, dtype: int64
218488     8
218489     9
218490    10
Name: rating, dtype: int64
130749     8
130750     9
130751    10
Name: rating, dtype: int64
197553     9
197554    10
197555     8
Name: rating, dtype: int64
130771     9
130772    10
130773     8
Name: rating, dtype: int64
202165     9
202166    10
202167     8
Name: rating, dtype: int64
255609     8
255610     9
255611    10
Name: rating, dtype: int64
274477    10
274478    10
274479     9
Name: rating, dtype: int64
48842    10
48843    10
48844     8
Name: rating, dtype: int64
19148    9
19149    9
19150    9
Name: rating, dtype: int64
255780    10
255781     8
255782     9
Name: rating, dtype: int64
24395     9
24396     9
24397     9
24398    10
24399     8
24400    10
24401    10
Name: rating, dtype: int64
9528     9
9529    10
9530     9
Name: rating, dtype: int64

In [126]:
# ensemble[ensemble['isbn'] == good_books_dict[10].index]
for isbn in good_books_dict[9].index:
    try:
        # print(train.loc[train['isbn'] == isbn]['rating'])
        print(ensemble.loc[ensemble['isbn'] == isbn]['rating'])
        # print(good_books_dict[10].loc[isbn]['mean_rating'])
    except:
        continue

# 평균적으로 9점을 받는 책을, 모델이 6점 이하로 예측을 했으면, 잘못된 예측이라서
# 그거를 8점으로 보정을 하기로 생각했어

63719    6.726313
Name: rating, dtype: float64
59717    7.1517
Name: rating, dtype: float64
48890    7.802311
48891    7.312150
Name: rating, dtype: float64
25903    7.165217
25904    6.626159
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
28350    7.797006
28351    8.499670
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
37740    8.369596
Name: rating, dtype: float64
53890    8.302726
Name: rating, dtype: float64
58042    7.664063
Name: rating, dtype: float64
56288    7.243182
Name: rating, dtype: float64
57294    7.559975
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
39199    7.56019
Name: rating, dtype: float64
57977    8.237078
Name: rating, dtype: float64
15523    7.622123
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
37263    7.057527
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
62491    6.611026
Name: rating, dtype: float64
58181    7.227786
Name: rating, dtype: float64
30067    6.892643
Name: rating, dtype: float64
32146    7.265213
32147    7.236603
Name: rating, dtype: float64
23900    7.924204
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
68885    8.049197
Name: rating, dtype: float64
44678    9.115554
Name: rating, dtype: float64
47938    8.116309
Name: rating, dtype: float64
38022    8.452142
38023    8.243689
38024    8.176694
38025    7.896748
Name: rating, dtype: float64
6585    8.644709
6586    9.162929
6587    8.680351
6588    7.988558
6589    8.250974
Name: rating, dtype: float64
47834    8.137404
47835    8.537700
Name: rating, dtype: float64
49433    9.048002
Name: rating, dtype: float64
42827    7.585303
Name: rating, dtype: float64
25251    9.706478
Name: rating, dtype: float64
20991    8.526212
Name: rating, dtype: float64
53441    7.387222
Name: rating, dtype: float64
49434    7.745185
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
54063    6.785676
Name: rating, dtype: float64
37310    8.357453
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
43591    5.845702
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
49030    8.219954
Name: rating, dtype: float64
49387    7.302034
Name: rating, dtype: float64
44470    6.885371
Name: rating, dtype: float64
32212    7.306073
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
964    8.140161
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
10896    6.99454
Name: rating, dtype: float64
419    7.757388
Name: rating, dtype: float64
47837    6.692603
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
43696    7.609266
Name: rating, dtype: float64
43560    7.682557
Name: rating, dtype: float64
61715    7.331875
Name: rating, dtype: float64
48071    7.751169
Name: rating, dtype: float64
55901    7.441487
55902    7.367570
Name: rating, dtype: float64
40583    7.38394
Name: rating, dtype: float64
54600    7.446785
Name: rating, dtype: float64
11404    7.756861
Name: rating, dtype: float64
30843    7.441003
30844    7.591607
Name: rating, dtype: float64
21985    8.016517
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
14278    7.462419
Name: rating, dtype: float64
73442    8.517691
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
54876    7.231349
Name: rating, dtype: float64
31085    7.898217
Name: rating, dtype: float64
49436    9.847602
Name: rating, dtype: float64
37750    7.396825
Name: rating, dtype: float64
40539    7.068986
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
41202    7.032831
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
26908    6.737833
Name: rating, dtype: float64
48657    9.007438
Name: rating, dtype: float64
11351    9.471927
11352    8.328550
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
15561    7.344361
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
60461    7.014424
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
25764    9.805392
Name: rating, dtype: float64
37405    7.340557
37406    7.843175
Name: rating, dtype: float64
37407    8.718032
Name: rating, dtype: float64
32396    8.582548
Name: rating, dtype: float64
48660    8.952411
Name: rating, dtype: float64
31437    8.122366
31438    6.908723
Name: rating, dtype: float64
27608    8.033909
27609    8.544174
27610    9.233572
27611    8.177603
Name: rating, dtype: float64
56415    8.363261
Name: rating, dtype: float64
38145    7.145792
Name: rating, dtype: float64
38147    8.961245
38148    8.451804
Name: rating, dtype: float64
48662    7.658164
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
32399    3.650875
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
37411    8.578871
37412    8.653816
37413    7.875495
37414    7.111149
Name: rating, dtype: float64
58482    7.523083
Name: rating, dtype: float64
37415    7.674972
Name: rating, dtype: float64
25942    7.533365
Name: rating, dtype: float64
41211    7.934892
41212    8.775848
Name: rating, dtype: float64
49263    8.043417
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
42477    8.372404
42478    7.631659
Name: rating, dtype: float64
32424    7.012796
Name: rating, dtype: float64
41218    7.226355
Name: rating, dtype: float64
32425    7.2922
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
45053    7.075999
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
54372    7.144328
Name: rating, dtype: float64
42121    7.359463
Name: rating, dtype: float64
19832    7.0339
Name: rating, dtype: float64
32454    8.517336
Name: rating, dtype: float64
47143    6.018453
Name: rating, dtype: float64
13270    7.448122
13271    7.563345
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
48639    7.811212
Name: rating, dtype: float64
39270    8.887442
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
23929    7.892449
Name: rating, dtype: float64
23933    8.243360
23934    8.516104
23935    8.247084
23936    6.512822
23937    7.960965
23938    7.788512
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
15593    6.846453
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
59061    7.61263
Name: rating, dtype: float64
10901    7.634634
Name: rating, dtype: float64
29661    7.092980
29662    7.534347
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
48585    7.718013
Name: rating, dtype: float64
8010    7.556988
Name: rating, dtype: float64
50209    8.186974
Name: rating, dtype: float64
28334    7.653882
Name: rating, dtype: float64
27612    8.259655
Name: rating, dtype: float64
42401    6.473713
42402    9.199942
Name: rating, dtype: float64
15606    7.749799
Name: rating, dtype: float64
40328    7.498122
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
51393    7.202819
Name: rating, dtype: float64
41222    7.71096
Name: rating, dtype: float64
62060    7.463658
Name: rating, dtype: float64
32529    7.300494
Name: rating, dtype: float64
71332    8.541226
Name: rating, dtype: float64
40827    7.331451
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
22047    7.316899
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
47510    7.30556
Name: rating, dtype: float64
61306    5.694076
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
46816    7.064127
Name: rating, dtype: float64
54278    7.975771
Name: rating, dtype: float64
13858    7.830667
13859    8.389841
Name: rating, dtype: float64
57565    8.691212
Name: rating, dtype: float64
59895    7.392552
Name: rating, dtype: float64
50857    8.052927
Name: rating, dtype: float64
27372    7.272317
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
15617    7.751841
Name: rating, dtype: float64
51905    7.417603
51906    8.313646
Name: rating, dtype: float64
43705    7.405366
Name: rating, dtype: float64
23312    7.784934
23313    8.853692
23314    8.619637
Name: rating, dtype: float64
32590    8.208875
32591    7.368389
Name: rating, dtype: float64
58473    7.670463
Name: rating, dtype: float64
17337    9.706892
Name: rating, dtype: float64
31087    8.269641
31088    7.550644
Name: rating, dtype: float64
21788    8.183823
21789    7.760867
Name: rating, dtype: float64
21793    7.624248
21794    7.559257
21795    8.489078
Name: rating, dtype: float64
21742    7.849595
21743    8.386344
21744    7.487326
21745    8.530799
Name: rating, dtype: float64
42648    6.577550
42649    8.181406
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
41234    9.541366
Name: rating, dtype: float64
43954    7.85425
Name: rating, dtype: float64
50322    9.257995
Name: rating, dtype: float64
54183    7.503014
Name: rating, dtype: float64
53445    7.235018
53446    5.581195
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
28369    7.116084
Name: rating, dtype: float64
28371    7.699849
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
18265    7.635901
Name: rating, dtype: float64
10904    7.820332
10905    7.792794
Name: rating, dtype: float64
52552    6.810703
52553    7.314482
Name: rating, dtype: float64
40103    7.235354
Name: rating, dtype: float64
32634    4.451437
Name: rating, dtype: float64
32635    8.167076
Name: rating, dtype: float64
22068    3.72843
Name: rating, dtype: float64
37440    6.368615
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
39102    7.173868
39103    7.595788
Name: rating, dtype: float64
42970    3.811763
Name: rating, dtype: float64
61766    7.645136
Name: rating, dtype: float64
29694    7.884132
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
12497    7.974516
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
20006    6.195202
20007    9.413357
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
64759    7.115204
Name: rating, dtype: float64
58804    7.50311
Name: rating, dtype: float64
1082    7.830851
1083    6.347402
Name: rating, dtype: float64
13872    7.110394
Name: rating, dtype: float64
55818    7.151289
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
54216    4.872852
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
32688    8.347681
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
32693    7.041903
Name: rating, dtype: float64
50542    6.613076
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
12211    7.163126
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
6099    8.922831
6100    6.513910
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
49795    7.844731
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
29136    6.327406
29137    3.646616
Name: rating, dtype: float64
14921    7.253338
14922    8.711956
Name: rating, dtype: float64
49043    7.750598
Name: rating, dtype: float64
2387    7.505473
Name: rating, dtype: float64
37764    6.72917
Name: rating, dtype: float64
32724    6.149453
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
48885    7.084362
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
51907    6.954549
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
47594    7.889849
Name: rating, dtype: float64
41275    9.362925
41276    7.859777
Name: rating, dtype: float64
12983    6.581054
Name: rating, dtype: float64
32794    8.62991
Name: rating, dtype: float64
40882    6.908453
Name: rating, dtype: float64
7591    8.176656
7592    7.791663
Name: rating, dtype: float64
65013    7.741513
Name: rating, dtype: float64
62323    8.284761
Name: rating, dtype: float64
53135    8.417002
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
48593    8.498573
Name: rating, dtype: float64
50222    7.995338
Name: rating, dtype: float64
59899    6.635579
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
30855    7.121821
Name: rating, dtype: float64
31473    7.693295
Name: rating, dtype: float64
48267    8.979603
Name: rating, dtype: float64
48557    7.565217
Name: rating, dtype: float64
48025    9.295244
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
32847    5.232752
Name: rating, dtype: float64
16794    7.429060
16795    7.346096
Name: rating, dtype: float64
62917    7.609159
Name: rating, dtype: float64
15107    7.718612
Name: rating, dtype: float64
13807    7.794484
13808    8.410894
13809    9.062792
Name: rating, dtype: float64
21228    8.602371
Name: rating, dtype: float64
60901    9.530503
Name: rating, dtype: float64
37630    9.026211
Name: rating, dtype: float64
51403    8.436037
Name: rating, dtype: float64
45568    7.828292
Name: rating, dtype: float64
18340    7.138522
Name: rating, dtype: float64
29223    7.574601
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
47022    7.41131
Name: rating, dtype: float64
26015    7.891448
Name: rating, dtype: float64
20868    6.422690
20869    7.818382
Name: rating, dtype: float64
47514    7.054031
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
27615    6.966434
Name: rating, dtype: float64
46222    3.815943
Name: rating, dtype: float64
53137    5.630341
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
26922    4.612232
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
39265    7.160518
39266    7.346046
Name: rating, dtype: float64
51531    8.560663
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
60905    7.507367
Name: rating, dtype: float64
49442    8.371912
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
50148    6.932514
Name: rating, dtype: float64
18003    7.839763
Name: rating, dtype: float64
44330    7.361958
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
43170    7.375069
43171    7.619492
Name: rating, dtype: float64
44292    7.540675
44293    8.004062
Name: rating, dtype: float64
49048    7.198369
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
64842    7.169923
Name: rating, dtype: float64
54743    8.244398
Name: rating, dtype: float64
33011    7.12468
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
26056    6.954632
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
20386    7.919483
Name: rating, dtype: float64
55000    7.556870
55001    6.842938
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
2490    7.114495
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
41318    8.716
Name: rating, dtype: float64
48304    8.825989
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
44103    7.056296
Name: rating, dtype: float64
62245    8.484705
Name: rating, dtype: float64
47612    8.205183
Name: rating, dtype: float64
55767    5.218224
Name: rating, dtype: float64
60774    3.98185
Name: rating, dtype: float64
47616    6.876396
Name: rating, dtype: float64
55521    8.56254
Name: rating, dtype: float64
55774    6.762932
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
55778    8.68896
Name: rating, dtype: float64
33130    7.143037
Name: rating, dtype: float64
59285    4.287994
Name: rating, dtype: float64
48316    7.095378
48317    8.584711
Name: rating, dtype: float64
55400    8.925268
Name: rating, dtype: float64
55785    8.128181
Name: rating, dtype: float64
33135    7.660069
Name: rating, dtype: float64
67553    7.175226
Name: rating, dtype: float64
53012    7.34712
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
46115    7.193018
Name: rating, dtype: float64
28119    7.543421
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
45777    8.600638
Name: rating, dtype: float64
39385    7.034899
Name: rating, dtype: float64
20077    7.696194
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
33188    7.553835
Name: rating, dtype: float64
10693    7.971302
Name: rating, dtype: float64
45360    6.898086
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
42344    3.778694
42345    7.608836
Name: rating, dtype: float64
48871    6.097887
Name: rating, dtype: float64
67289    7.341437
Name: rating, dtype: float64
55002    7.870928
Name: rating, dtype: float64
40816    9.364464
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
15116    8.206445
Name: rating, dtype: float64
33221    7.473966
Name: rating, dtype: float64
46852    6.878123
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
45629    8.011985
45630    8.167757
Name: rating, dtype: float64
37796    8.476096
37797    7.651378
Name: rating, dtype: float64
8581    7.474466
8582    9.140630
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
25781    8.103970
25782    8.157262
Name: rating, dtype: float64
59683    7.593937
Name: rating, dtype: float64
12610    7.076401
12611    8.471836
Name: rating, dtype: float64
44506    7.261887
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
43439    6.460499
Name: rating, dtype: float64
40735    8.398755
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
16752    6.94841
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
55091    7.340484
Name: rating, dtype: float64
44564    7.414336
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
40900    5.536578
Name: rating, dtype: float64
40012    5.649228
Name: rating, dtype: float64
30077    8.256824
30078    7.851483
Name: rating, dtype: float64
30079    8.051277
Name: rating, dtype: float64
33323    7.471375
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
27472    7.099386
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
41354    6.090311
Name: rating, dtype: float64

In [69]:
# ensemble[ensemble['isbn'] == good_books_dict[10].index]
for isbn in bad_books_dict[2].index:
    try:
        print(train.loc[train['isbn'] == isbn]['rating'])
        # print(ensemble.loc[ensemble['isbn'] == isbn]['rating'])
        # print(bad_books_dict[10].loc[isbn]['mean_rating'])
    except:
        continue

214658    1
214659    1
214660    4
Name: rating, dtype: int64
185745    3
185746    1
185747    2
Name: rating, dtype: int64
167232    1
167233    2
167234    3
Name: rating, dtype: int64
203657    1
203658    1
203659    1
Name: rating, dtype: int64
196216    1
196217    2
196218    3
Name: rating, dtype: int64
232084    1
232085    2
232086    1
Name: rating, dtype: int64
134416    2
134417    1
134418    3
Name: rating, dtype: int64
265581    2
265582    3
265583    1
Name: rating, dtype: int64
165758    1
165759    4
165760    1
Name: rating, dtype: int64
138508    1
138509    1
138510    1
Name: rating, dtype: int64
117951    4
117952    1
117953    1
Name: rating, dtype: int64
140477    1
140478    2
140479    3
Name: rating, dtype: int64
78936    1
78937    1
78938    1
Name: rating, dtype: int64
140809    1
140810    1
140811    3
Name: rating, dtype: int64
141751    1
141752    2
141753    2
Name: rating, dtype: int64
244024    5
244025    1
244026    1
244027    1
Name: rating, dtype: int64
180940    1
180941    1
180942    3
Name: rating, dtype: int64
206857    2
206858    1
206859    1
Name: rating, dtype: int64
75471    1
75472    3
75473    2
75474    1
Name: rating, dtype: int64
143752    1
143753    1
143754    1
143755    2
Name: rating, dtype: int64
15373    5
15374    1
15375    1
15376    1
Name: rating, dtype: int64
194312    1
194313    1
194314    1
194315    2
Name: rating, dtype: int64
173406    4
173407    1
173408    1
Name: rating, dtype: int64
188266    1
188267    1
188268    1
188269    1
188270    2
188271    1
188272    1
Name: rating, dtype: int64
260512    3
260513    1
260514    1
Name: rating, dtype: int64
122753    1
122754    1
122755    3
Name: rating, dtype: int64
147852    1
147853    1
147854    2
147855    1
Name: rating, dtype: int64
148156    1
148157    1
148158    2
148159    2
Name: rating, dtype: int64
240453    1
240454    1
240455    1
Name: rating, dtype: int64

In [70]:
# ensemble[ensemble['isbn'] == good_books_dict[10].index]
for isbn in bad_books_dict[2].index:
    try:
        # print(train.loc[train['isbn'] == isbn]['rating'])
        print(ensemble.loc[ensemble['isbn'] == isbn]['rating'])
        # print(bad_books_dict[10].loc[isbn]['mean_rating'])
    except:
        continue

53665    6.085989
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
41440    6.767423
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
29488    6.44655
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
35438    6.435248
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)
18868    6.932414
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
3844    5.967571
Name: rating, dtype: float64
48578    4.930643
Name: rating, dtype: float64
43352    6.075048
Name: rating, dtype: float64
47067    6.102171
47068    5.852611
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
30689    5.462534
Name: rating, dtype: float64
36963    7.290772
Name: rating, dtype: float64
Series([], Name: rating, dtype: float64)
Series([], Name: rating, dtype: float64)

In [85]:
# ensemble[ensemble['isbn'] == good_books_dict[10].index]
# 평균 평점이 9점 and 평가 개수가 3개 이상인 isbn
cnt = 0
for isbn in good_books_dict[9].index:
    try:
        # print(train.loc[train['isbn'] == isbn]['rating'])
        # print(ensemble.loc[(ensemble['isbn'] == isbn) & (ensemble['rating'] <= 6)])
        ensemble.loc[(ensemble['isbn'] == isbn) & (ensemble['rating'] <= 6), 'rating'] = 8
        # print(ensemble[(ensemble['isbn'] == isbn) & (ensemble['rating'] <= 10)]['ratings'])
        # print(ensemble.loc[(ensemble['isbn'] == isbn)]['ratings'])
        # print(ensemble.loc[ensemble['isbn'] == isbn]['rating'])
        # print(good_books_dict[10].loc[isbn]['mean_rating'])
        cnt += 1
    except:
        continue
print(cnt)

Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
       user_id        isbn  rating
43591   115002  0060561661     8.0
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
       user_id        isbn  rating
32399   189835  0064405788     8.0
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
       user_id        isbn  rating
61306   252903  0140707344     8.0
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
       user_id        isbn  rating
53446   252903  0192833553     8.0
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
       user_id        isbn  rating
32634   113475  030700645X     8.0
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
       user_id        isbn  rating
22068   185233  0307010856     8.0
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
       user_id        isbn  rating
42970   185233  0307987981     8.0
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
       user_id        isbn  rating
54216   223087  0312241224     8.0
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
       user_id        isbn  rating
29137   165758  0312871996     8.0
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
       user_id        isbn  rating
32847   231857  0330201077     8.0
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
       user_id        isbn  rating
46222   189835  0345345061     8.0
       user_id        isbn  rating
53137   189973  0345347269     8.0
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
       user_id        isbn  rating
26922   259388  0345350162     8.0
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame
Columns: [user_id, isbn, rating]
Index: []
Empty DataFrame

In [134]:
# ensemble[ensemble['isbn'] == good_books_dict[10].index]
cnt = 0
for isbn in good_books_dict[10].index:
    try:
        # print(train.loc[train['isbn'] == isbn]['rating'])
        # print(ensemble.loc[(ensemble['isbn'] == isbn) & (ensemble['rating'] <= 6)])
        ensemble.loc[(ensemble['isbn'] == isbn) & (ensemble['rating'] <= 7), 'rating'] = 8
        # print(ensemble[(ensemble['isbn'] == isbn) & (ensemble['rating'] <= 10)]['ratings'])
        # print(ensemble.loc[(ensemble['isbn'] == isbn)]['ratings'])
        # print(ensemble.loc[ensemble['isbn'] == isbn]['rating'])
        # print(good_books_dict[10].loc[isbn]['mean_rating'])
        cnt += 1
    except:
        continue
print(cnt)

54

In [88]:
# ensemble[ensemble['isbn'] == good_books_dict[10].index]
cnt = 0
for isbn in bad_books_dict[2].index:
    try:
        # print(train.loc[train['isbn'] == isbn]['rating'])
        # print(ensemble.loc[(ensemble['isbn'] == isbn) & (ensemble['rating'] >= 2)])
        ensemble.loc[(ensemble['isbn'] == isbn) & (ensemble['rating'] >= 2), 'rating'] = 3
        # print(ensemble[(ensemble['isbn'] == isbn) & (ensemble['rating'] <= 10)]['ratings'])
        # print(ensemble.loc[(ensemble['isbn'] == isbn)]['ratings'])
        # print(ensemble.loc[ensemble['isbn'] == isbn]['rating'])
        # print(good_books_dict[10].loc[isbn]['mean_rating'])
        cnt += 1
    except:
        continue
print(cnt)

In [135]:
# ensemble[ensemble['isbn'] == good_books_dict[10].index]
cnt = 0
for isbn in bad_books_dict[1].index:
    try:
        # print(train.loc[train['isbn'] == isbn]['rating'])
        # print(ensemble.loc[(ensemble['isbn'] == isbn) & (ensemble['rating'] >= 2)])
        ensemble.loc[(ensemble['isbn'] == isbn) & (ensemble['rating'] >= 2), 'rating'] = 3
        # print(ensemble[(ensemble['isbn'] == isbn) & (ensemble['rating'] <= 10)]['ratings'])
        # print(ensemble.loc[(ensemble['isbn'] == isbn)]['ratings'])
        # print(ensemble.loc[ensemble['isbn'] == isbn]['rating'])
        # print(good_books_dict[10].loc[isbn]['mean_rating'])
        cnt += 1
    except:
        continue
print(cnt)

4

In [100]:
def special_round(x:float, a:float):
    if x < 1:
        return 1
    else:
        criteria = round(x)
        return criteria if criteria - a <= x <= criteria + a else x

In [102]:
ensemble_1 = ensemble.copy()
# ensemble_2 = ensemble.copy()

In [103]:
ensemble_1['rating'] = ensemble_1['rating'].apply(lambda x: special_round(x, 0.1))
ensemble_1.to_csv('./submit/ensemble_0.1.csv')
# ensemble_2['rating'] = ensemble_2['rating'].apply(lambda x: special_round(x, 0.2))
# ensemble_2.to_csv('./submit/ensemble_0.2.csv')
# 6.8 7.2 -> 7

In [ ]:
# x: 1.1
# a: 0.1
# round(x) -> 1 -> criteria = round(x) -> 1 - 0.1 = 0.9, 1 + 0.1 = 1.1
# 0.9 <= x <= 1.1 -> round(x)

# x: 1.5
# a: 0.1
# round(x) -> 2 -> criteria = round(x) -> 2 - 0.1 = 1.9, 2 + 0.1 = 2.1
# 1.9 <= x <= 2.1 -> x