In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
path ='./data/'

books = pd.read_csv(path + 'books.csv')

In [3]:
def basic_preporcess_category(s:str):
    if isinstance(s, str):
        return s.lower().strip('[] !@#$%^&*()\"\';:.,/?\\|~`')
    elif isinstance(s, float):
        return np.nan
    else:
        raise Exception("WTF")

In [4]:
books['category'] = books['category'].apply(lambda x: basic_preporcess_category(x))

In [5]:
books.isnull().sum()

isbn                       0
book_title                 0
book_author                0
year_of_publication        0
publisher                  0
img_url                    0
language               67227
category               68851
summary                67227
img_path                   0
dtype: int64

In [9]:
summary_nan_idx = books[books['summary'].isna()].index
print(summary_nan_idx)

Int64Index([     5,      8,      9,     10,     11,     25,     27,     30,
                31,     42,
            ...
            149550, 149552, 149555, 149557, 149558, 149560, 149561, 149564,
            149567, 149569],
           dtype='int64', length=67227)

In [12]:
summary_not_nan = books.dropna(axis=0, how='all', subset=['summary'])
summary_not_nan.sample(1)

,isbn,book_title,book_author,year_of_publication,publisher,img_url,language,category,summary,img_path
108772,0070488975,Lotus 1-2-3 Release 2.2 (O'Leary Lab Modules S.),Timothy O'Leary,1993.0,McGraw-Hill Education,http://images.amazon.com/images/P/0070488975.0...,en,business,"This lab module offers brief, hands-on introdu...",images/0070488975.01.THUMBZZZ.jpg

In [13]:
tmp = summary_not_nan.groupby(['book_title'])['summary'].apply(lambda x : ','.join(x)).to_frame()
tmp.sample(1)

                                                                summary
book_title
Strangers on a Train  Guy Haines loses his own identity after he is ...

In [15]:
from tqdm import tqdm

for item in tqdm(tmp.itertuples()):
    books.loc[books['book_title'] == item[0], 'summary'] = item[1]

77093it [18:42, 68.67it/s]

In [16]:
books.isnull().sum()

isbn                       0
book_title                 0
book_author                0
year_of_publication        0
publisher                  0
img_url                    0
language               67227
category               68851
summary                60375
img_path                   0
dtype: int64

In [17]:
books.to_csv('summary_preprocessed.csv')

In [12]:
books_prep = pd.read_csv('summary_preprocessed.csv')

In [13]:
books_prep.sample(1)

,Unnamed: 0,isbn,book_title,book_author,year_of_publication,publisher,img_url,language,category,summary,img_path
22258,22258,0750915943,Mini Sagas,The Daily Telegraph Competition,1998.0,"Alan Sutton Publishing, Ltd.",http://images.amazon.com/images/P/0750915943.0...,NaN,NaN,NaN,images/0750915943.01.THUMBZZZ.jpg

In [14]:
books_prep.drop(['Unnamed: 0'], axis=1, inplace=True)

In [19]:
books_prep

,isbn,book_title,book_author,year_of_publication,publisher,img_url,language,category,summary,img_path
0,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,en,actresses,"In a small town in Canada, Clara Callan reluct...",images/0002005018.01.THUMBZZZ.jpg
1,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,en,1940-1949,"Here, for the first time in paperback, is an o...",images/0060973129.01.THUMBZZZ.jpg
2,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,en,medical,"Describes the great flu epidemic of 1918, an o...",images/0374157065.01.THUMBZZZ.jpg
3,0399135782,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,en,fiction,A Chinese immigrant who is convinced she is dy...,images/0399135782.01.THUMBZZZ.jpg
4,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000.0,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,en,history,"Essays by respected military historians, inclu...",images/0425176428.01.THUMBZZZ.jpg
...,...,...,...,...,...,...,...,...,...,...
149565,067161746X,The Bachelor Home Companion: A Practical Guide...,P.J. O'Rourke,1987.0,Pocket Books,http://images.amazon.com/images/P/067161746X.0...,en,humor,Describes the tasks that bachelors must perfor...,images/067161746X.01.THUMBZZZ.jpg
149566,0767907566,All Elevations Unknown: An Adventure in the He...,Sam Lightner,2001.0,Broadway Books,http://images.amazon.com/images/P/0767907566.0...,en,nature,A daring twist on the travel-adventure genre t...,images/0767907566.01.THUMBZZZ.jpg
149567,0884159221,Why stop?: A guide to Texas historical roadsid...,Claude Dooley,1985.0,Lone Star Books,http://images.amazon.com/images/P/0884159221.0...,NaN,NaN,NaN,images/0884159221.01.THUMBZZZ.jpg
149568,0912333022,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd,1997.0,Kqed Books,http://images.amazon.com/images/P/0912333022.0...,en,fiction,These hilarious stories by the creator of publ...,images/0912333022.01.THUMBZZZ.jpg
149569,1569661057,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco,1999.0,American Map Corporation,http://images.amazon.com/images/P/1569661057.0...,NaN,NaN,NaN,images/1569661057.01.THUMBZZZ.jpg

In [20]:
books_prep.to_csv('summary_preprocessed.csv', index = False)

In [21]:
len(books_prep)

149570

In [22]:
len(books)

149570